html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    color: inherit;
}

header {
    position: relative;
}

header .brand {
    font-size: 2.5rem;
    font-weight: lighter;
}

.top {
    position: fixed;
    width: 100%;
    padding: 3px 5%;
    background-color: #fff;
    z-index: 999;
}

.top .nav a {
    padding: 10px 10px;
    transition: all 300ms;
}

.top .nav a.active, .top .nav a:hover {
    color: #dea27a;
    font-weight: 600;
    transition: all 300ms;
}

.banner{
    position: relative;
    z-index: 1;
}

.banner::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.banner .banner-images img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: top;
    -o-object-position: top;
}

.banner .text {
    margin-left: 50%;
    color: #fff;
    z-index: 3;
}

.banner .text h2 {
    font-size: 6rem;
}

.home-tab {
    padding: 3rem 0px;
}

.home-tab .box-item {
    padding: 5rem 0px;
}

.home-tab .box-item .img-box {
    width: 100%;
    height: 320px;
}

.home-tab .box-item .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.home-tab h2 {
    margin-bottom: 30px;
}

.home-tab h3 span {
    font-size: 4rem;
}

.home-tab img {
    box-shadow: 50px -50px #f7efe9;
}

.contact-form {
    width: 100%;
    border: 1px solid #dea27a;
    padding: 30px 50px;
}

.contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
    padding: 8px;
    outline: none;
    border: none;
    border-bottom: 1px solid #dea27a;
    margin-bottom: 20px;
}

.contact-form button {
    padding: 8px;
    outline: none;
    border: none;
    background: transparent;
}

footer {
    background-color: #f7efe9;
    padding: 30px 0px;
}

footer .col-md-4 {
    margin-bottom: 20px;
}

#to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #dea27a;
    border-radius: 50%;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
}

@media all and (max-width: 992px) {

    .home-tab .box-item {
        padding: 5rem 0px 2rem;
    }

    .home-tab .box-item .img-box {
        width: 100%;
        height: 250px;
    }

    .banner .text {
        margin-left: 30%;
    }
    
    .banner .text h2 {
        font-size: 5rem;
    }

}
@media all and (max-width: 767px) {
    .hide {
        display: none;
    }

    .show {
        position: absolute;
        top: 60px;
        right: 0px;
        width: 50%;
        display: flex;
        flex-direction: column !important;
        background-color: #fff;
        text-align: center;
    }
    
    .top .nav a {
        padding: 15px 10px;
    }

    .banner .banner-images img {
        height: 500px;
    }

    .home-tab {
        padding: 0rem 0px 2rem;
    }
    .services .table .detail {
        min-width: 300px;
    }
}
